.dashboard-area span.glyphicon {
    margin-right: 3px;
    text-align: center;
    display: block;
    float: none;
    margin: auto;
    font-size: 40px;
}
.panel-green {
    border-color: #5cb85c;
	background-color:#5cb85c;
}
.panel-yellow {
    border-color: #f0ad4e;
	background-color:#f0ad4e;
}
.text-white {
    color: #fff !important;
}
.panel-red {
    border-color: #d9534f;
	background-color: #d9534f;
}
.dataTables_paginate a {
    color: #777 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0px 0px !important;
}
li.paginate_button.active a {
    color: #fff !important;
    background: #213E9A;
}
li.paginate_button a {
    color: #213E9A !important;
}
.dashboard-area{
color:#FFF;
margin-top: 70px;
}
.sidebar ul li a,.sidebar a{
color:#000 !important;
}
.sidebar ul>li:hover>a,.sidebar a:hover{
color:#777 !important;
}
.clear-btn{
color:#fff !important;
}
.download_area {
    width: 12%;
}
.margin-top-20{
margin-top:30px;
}
.preload_area {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 99999;
}
.preload_area img {
    display: block;
    margin-top: 20% !important;
    margin: auto;
}
ul.nav.nav-second-level {
    margin-left: 15px;
}
input#pgp_seating_csv {
    font-size: 30px;
    opacity: 0;
    position: absolute;
    right: -3px;
    top: -3px;
    z-index: 999;
	width:100%;
}
.file-area{
background: url(choose-file-icn-hover.png) !important;
    background-repeat: no-repeat !important;
    background-position: 8px !important;
    width: 99.66% !important;
    height: 40px !important;
    line-height: 40px !important;
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #d7d7d7;
    border-radius: 0px !important;
    font-size: 14px;
    position: relative;
	min-height:1px !important; 
	padding-left: 40px;
}
.sidebar-nav.navbar-collapse {
    padding: 0px !important;
}